@import "tailwindcss";
@keyframes fadeInUp { 
    from { 
      opacity: 0; 
      transform: translateY(18px); 
    } 
    to { 
      opacity: 1; 
      transform: translateY(0);
    } 
  }
  
  .fade-in-up { 
    animation: fadeInUp 700ms ease both; 
  }
  
  .sr-only { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip: rect(0,0,0,0); 
    white-space: nowrap; 
    border: 0; 
  }
  
  .map-h { 
    height: 260px; 
  }
  
  @media(min-width: 768px){ 
    .map-h { 
      height: 100%; 
    } 
  }